<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

  {{> common/head }}

</head>

<body>
  <div class="homepage" style="background-image:url(../assets/asfalt-dark.png);">
    <div class="walpaper-section">
      {{> common/header }}
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img src="../assets/img_02.jpg" alt="">
          <div class="overlay">
            <div class="header-text-section">
              <p>Help them go to school</p>
              <a href="" class="header-text-section-button">Find More</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/img_25.jpg" alt="">
          <div class="overlay">
            <div class="header-text-section">
              <p>Make a difference for people <br>
                who needs it the most </p>
              <a href="" class="header-text-section-button">Donate Now</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../assets/img_44.jpg" alt="">
          <div class="overlay">
            <div class="header-text-section">
              <p>Fight with us <br>
                against poverty
              </p>
              <a href="" class="header-text-section-button">Donate Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="homepage-section-gutter">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="homepage-gutter-text">
              <h2>
                About Our Foundation
              </h2>
              <p>Globally actualize go forward bandwidth before excellent data. Monotonectally cultivate wireless data
                for interdependent interfaces. Authoritatively repurpose economically sound e-services with innovative
                information. Intrinsicly unleash stand-alone platforms without competitive intellectual capital.
                Progressively extend distributed schemas via corporate innovation
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div id="homepage-gutter-number">
              <h3>Our Foundation Has Raised Over</h3>
              <span>256</span>
              <p>millions </p>
            </div>
          </div>
          <div class="col-12">
            <div class="header-gutter-line"></div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3">
                <div class="gutter-number">
                  <h3>
                    We Are Present In
                  </h3>
                  <span>
                    74
                  </span>
                  <p>
                    Countries
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="gutter-number">
                  <h3>
                    We've Helped
                  </h3>
                  <span>
                    62000
                  </span>
                  <p>
                    Children So Far
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="gutter-number">
                  <h3>
                    More Than
                  </h3>
                  <span>
                    20865
                  </span>
                  <p>
                    People Donated
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="gutter-number">
                  <h3>
                    Over
                  </h3>
                  <span>
                    800
                  </span>
                  <p>
                    Volunteers Worldwide
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lecture">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <p>
                “We can do no great things only small things with great love”
              </p>
              <span>
                MOTHER TERESA
              </span>
            </div>
            <div class="col-lg-3">
              <a href="" class="button">Show them some love</a>
            </div>
          </div>
        </div>
      </div>
      <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="about-header-text">
                <h3>
                  What We Do
                </h3>
                <p>
                  Globally actualize go forward bandwidth before excellent data. Monotonectally cultivate wireless
                  data for interdependent interfaces.
                </p>
                <a href="">
                  Find more <i class="fas fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-6">
                  <div class="about-child-card">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="about-card-text">
                      <h3>
                        Education
                      </h3>
                      <p>
                        Distinctively myocardinate web-enabled architectures after user friendly bandwidth.
                        Monotonectally engage multimedia based
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="about-child-card">
                    <i class="far fa-heart"></i>
                    <div class="about-card-text">
                      <h3>
                        Education
                      </h3>
                      <p>
                        Distinctively myocardinate web-enabled architectures after user friendly bandwidth.
                        Monotonectally engage multimedia based
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="about-child-card">
                    <i class="fas fa-pills"></i>
                    <div class="about-card-text">
                      <h3>
                        Education
                      </h3>
                      <p>
                        Distinctively myocardinate web-enabled architectures after user friendly bandwidth.
                        Monotonectally engage multimedia based
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="about-child-card">
                    <i class="fas fa-candy-cane"></i>
                    <div class="about-card-text">
                      <h3>
                        Education
                      </h3>
                      <p>
                        Distinctively myocardinate web-enabled architectures after user friendly bandwidth.
                        Monotonectally engage multimedia based
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="causes">
        <div class="container">
          <div class="causes-header-text">
            <h3>
              Give help where it's needed most
            </h3>
            <p>
              Credibly target cooperative experiences after distinctive initiatives. Quickly underwhelm alternative
              e-tailers before low-risk high-yield process improvements
            </p>
            <a href="" class="button">See Our Couses</a>
          </div>
        </div>
      </div>
      <div id="events">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-7">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <img src="../assets/img_02.jpg" alt="">
                  <div class="overlay">
                    <div class="header-text-section">
                      <p>Help them go to school</p>
                      <a href="" class="header-text-section-button">Find More</a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <img src="../assets/img_25.jpg" alt="">
                  <div class="overlay">
                  </div>
                </div>
                <div class="item">
                  <img src="../assets/img_44.jpg" alt="">
                  <div class="overlay">
                    <div class="header-text-section">
                      <p>Fight with us <br>
                        against poverty
                      </p>
                      <a href="" class="header-text-section-button">Donate Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> common/footer }}

</body>

</html>